<form id="login-form" action="/user/login" method="post">
  <table id="login-form-table" class="table">
    <caption>
      <h3>Login Form</h3>
    </caption>
    <tr>
      <td><label for="login-form-username" name="username">Username</label></td>
      <td><input type="text" id="login-form-username" name="username" required></td>
    </tr>
    <tr>
      <td><label for="login-form-password" name="password">Password</label></td>
      <td><input type="password" id="login-form-password" name="password" required></td>
    </tr>
    
      
    <tfoot>
      <tr id="login-form-submit">
        <td colspan="2">
          <button type="submit" class="btn btn-primary">Login</button>
        </td>
      </tr>
    </tfoot>
    
  
    
    
  
    
    
  
    


  </table>
  

    
</form>