* {
    margin: 0 auto;
}


#seed-form {
    width: auto;
    border: 1px solid green;
    margin: 2vh 20vw  2vh auto;
}


#navbar {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}