<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>

  <link rel="stylesheet" href="/public/styles/main.css">
</head>

<body>
  <nav>
    <div>
      <a aria-label="Home" class="_30BbATRhFv3V83DHNDjJAO" href="/">
        
      </a>
    </div>
    <!-- <div>Search bar</div> -->

  </nav>