.hidden {
    display: none;
}

table {
    width: 70vw;
}

table, th, td {
    border: 1px solid black;
    padding: .3rem;
    /* border-collapse: collapse; */
}

td input, td select {
    width: 98%;
}

.todolist-table-actions {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.todolist-table-actions button {
    margin: 0 .3rem
}