* {
    margin: 0 auto;;
}

.hidden {
    display: none;
}

#status-msg.success {
    color: blue;
}

#status-msg.fail {
    color: red;
}

table {
    width: 75vw;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    padding: .3rem;
    overflow: auto;
}

td input, td select {
    width: 98%;
}

.todolist-table-actions {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.todolist-table-actions button {
    margin: 0 .3rem
}